*.bas		diff=sjis encoding=sjis eol=CRLF
*.asm		diff=sjis encoding=sjis eol=CRLF
*.asf		diff=sjis encoding=sjis eol=CRLF
;*.mus		diff=sjis encoding=sjis eol=CRLF
*.mus		text eol=CRLF	;utf-8 on MSXPlay
*.msd		diff=sjis encoding=sjis eol=CRLF
*.txt		diff=sjis encoding=sjis eol=CRLF
;*.c			diff=sjis encoding=sjis eol=CRLF
;*.h			diff=sjis encoding=sjis eol=CRLF
*.js		text eol=CRLF
*.jsee		text eol=CRLF
