;==========================================================================
;MGSEL version 3.00t コンフィグレーションファイル
;==========================================================================
;
;★ 注意
;
;　コマンド(設定事項)は1行に1つだけ書けます。コマンドは大文字でも構いません。
;　スペース、タブは無視されます。
;　コマンドとパラメータの区切りには、"="か":"(いずれも半角)を入れます。
;　行の先頭が";"の場合はコメントと見なされます。

;★ auto_play_mode = <normal|random>
;
;　自動演奏のモード。"normal"が上から順番に、"random"だと乱数で選んだ曲が
;　選択されます。

;★ fade_out_speed = <0～63>
;
;　フェードアウトの速さ。数字が小さいほど速くなります。

;★ color = n,r,g,b
;
;　nはパレットコード(0～3)。r,g,bはそれぞれの輝度(0～7)です。

;★ bar_disp_type  = <box|box_fill|line>
;
;　曲を選択した時などに表示されるバーの種類です。
;line ....... 下線を引きます。
;box ........ lineに加え、上にも線を引きます。
;box_fill ... 白(パレットコード2)で塗りつぶします。

;★ interlace_mode = <0～3>
;
;　インターレスモードを指定します。BASICのSCREEN命令のそれと同じです。

;★ date_format = <y/m/d>
;
;　画面の右上に表示される日付の表示形式を指定します。
;　yが年、mが月、dが日です。
;　例えば、月/日/年で表示したいのなら次のように指定して下さい。
;
;　　　　　　　　date_format = myd
;
;　DOS2の場合は、環境変数DATE>CNFの順に設定されます。つまり"date_format"が
;　指定されていないとDIRコマンド表示される形式になります。

;★ loop_count = <1～255>
;
;　フェードアウト開始までのループ数。

;★ date_display = <ON|OFF>
;
;　"OFF"なら日付を表示しません。

;★ restore_drive = <YES|NO>
;
;　終了時にドライブとディレクトリを起動時の状態に戻すかどうかを設定します。
;　DOS1ではトライブのみが戻ります。

;★ key_repeat_time = <1～255>
;
;キーが押されてからリピートを開始するまでの時間。単位は1/60秒です。

;★ key_scan_interval = <1～255>
;
;リピートが開始されてからキーがリピートする間隔。単位は1/60秒です。

;★ message_type = <ank|kanji|漢字>
;
;MGSELで表示されるメッセージの選択。"kanji"と"漢字"は同じ。

;★ font_file = <ファイル名>
;
;漢字フォント(非漢字 + 第一水準)のファイル名を指定します。
;マシンに漢字ROMが存在する場合でも指定されていれば、こちらが優先されます。
;
;例:font_file = h:\datas\font.dat	(DOS2)
;   font_file = a:font.dat		(DOS1)

;例:(省略時とは異なります)

auto_play_mode	  = normal
fade_out_speed	  = 10
color		  = 0,2,1,2
color		  = 1,4,4,5
color		  = 2,6,6,7
color		  = 3,7,4,0
bar_disp_type	  = box
interlace_mode	  = 0
date_format	  = mdy
loop_count	  = 2
date_display	  = on
restore_drive	  = yes
message_type	  = kanji
key_repeat_time   = 10
key_scan_interval = 1
